#users-page {
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  color: #333;
  background-color: #f9f9f9;
}

#users-header {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.users-list {
  width: 60%;
  margin: 0 auto;
  border: 1px solid #ccc;
  list-style-type: none;
  padding: 0;
  background-color: #fff;
  box-shadow: 1px 1px 6px #ccc;
}
